@import url("http://fonts.googleapis.com/css?family=Nunito:wght@200;300;400;600;700&display=swap");


:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}


section{
    padding: 2rem 9%;
}

section:nth-child(even){
    background: #eee;
}

.sub-heading {
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}

header .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--green)
}


header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background-color: var(--green); 
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}


/* media queries */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding:1rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

    
}


.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    padding-top: 9rem;

}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    padding-top: 9rem;
}

.home .home-slider .slide .content{
    flex:1 1 45rem;
}

.home .home-slider .slide .image{
    flex:1 1 45rem;
}

.home .home-slider .slide .image img{
    width: 100%;
}

.home .home-slider .slide .content span{
    color: var(--green);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color: var(--black);
    font-size: 7rem;
}


.home .home-slider .slide .content p{
    color: var(--light-color);
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}


.swiper-pagination-bullet-active {
    background-color: var(--green);
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}


.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content h3 {
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}

.about .row .content p {
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}

.about .row .content .icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons {
    background: #eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 15rem;
    padding: 1.5rem 1rem;
}

.about .row .content .icons-container .icons i {
    font-size: 2.5rem;
    color: var(--green);
}

.about .row .content .icons-container .icons span {
    font-size: 1.5rem;
    color: var(--black);
}


.dishes .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}

.dishes .box-container .box img {
    width:  50%;
}

.dishes .box-container .box {
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye {
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
}

.dishes .box-container .box .fa-heart{
    right: 1.5rem;
}

.dishes .box-container .box .fa-eye{
    left: 1.5rem;
}


.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:Hover {
    background: var(--green);
    color: #fff;
}


.dishes .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}

.dishes .box-container .box .stars{
    padding: 1rem 0;
}

.dishes .box-container .box .stars i { 
    font-size: 1.7rem;
    color: var(--green);
}

.dishes .box-container .box span{ 
    color: var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}


.review .slide{
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;
}


.review .slide .fa-quote-right{
    position: absolute;
    top:2rem;
    right: 2rem;
    font-size: 6rem;
    color: #ccc;
}

.review .slide .remove-comment {
    position: absolute;
    top: 2.7rem; /* Ajusta a posição vertical */
    right: 10rem; /* Ajusta a posição horizontal */
    font-size: 2.5rem;
    color: red; /* Cor do ícone */
    cursor: pointer;
}

.review .slide .user {
    position: flex;
    gap:1,5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color: var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i{
    font-size: 1.3rem;
    color: var(--green);
}

.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
}

/* Estilização do formulário de adicionar review */
.review-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.review-form label {
    font-size: 14px;
    color: #2b2b52;
    font-weight: bold;
}

.review-form input[type="text"],
.review-form select,
.review-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
    color: #2b2b52;
    background-color: #f8f9fa;
    transition: border-color 0.3s;
}

.review-form input[type="text"]:focus,
.review-form select:focus,
.review-form textarea:focus {
    border-color: #3498db;
    outline: none;
}

.review-form button {
    padding: 10px 20px;
    background-color: var(--black);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.review-form button:hover {
    background-color: var(--green);
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center; /* Alinha os elementos ao centro */
    gap: 5px;
    margin: 0 auto; /* Adiciona margem automática para centralizar */
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: var(--green);
}






footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding-left: 3em;
    background-color: #fff;
}

footer .box-container .box h3 {
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

footer .box-container .box a {
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

footer .box-container .box a:hover {
    color:var(--green);
    text-decoration: under;
}


.hidden {
    display: none;
}



.cart-container {
    position: fixed;
    text-align: center;
    right: 0rem;
    top: 6.5rem;
    width: 30rem;
    background-color: #fff;
    border: 1px solid var(--black);
    box-shadow: var(--box-shadow);
    padding: 20px;
    z-index: 1000;
}

.product-item {
    border-top: 1px solid var(--black);
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.product-photo {
    background-color: #723232;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-name {
    font-size: 1rem;
    font-weight: bold;
}

.product-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.quantity-btn {
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.product-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; 
}

.product-price {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.total-price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.checkout-btn {
    display: block;
    margin: 20px auto; /* Adiciona espaço em volta e centraliza o botão */
    padding: 10px 20px;
    background-color: #28a745; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.checkout-btn:hover {
    background-color: #218838; 
}
